/* font*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Montserrat-Hairline.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Montserrat-UltraLight.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat-ExtraBold.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Montserrat-Black.otf');
}

body,html{
  width: 1200px;
  height: 768px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

body:first-child {
  width: 1200px;
  height: 768px; 
  overflow: hidden;
}

h1{
  font-weight: 300;
  color:#2C3E50;
  padding-left: 20px;
  margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

::-webkit-input-placeholder{
  font-weight: 200;
  font-size: 11pt;
  padding: 2px;
}

#title h1{
  padding-top: 30px;
}

#title p{
  margin:0;
  font-weight: 200;
  padding-left: 20px;
}

.banner{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #EBEBEB;
}

.container{
  width: 100%;
  height: 668px;
}

#title{
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  height: 100px;
}

.wrapper-menu{
  width: 200px;
  height: 768px;
  float:left;
  background-color: #34495E;
}

.wrapper-page{
  width: 1000px;
  height: 768px;
  float:left;
}

/* Menu.html */
.menu{
  height: 100%;
  width: 100%;
}

.menu-logo{
  height: 100px;
  background-color: #FF6B6B;
}

.menu-item{
  padding: 20px;
}

a{
  text-decoration: none;
  font-weight: 300;
  color:#95A5A6;
}

.menu-item span{
  padding-right: 10px;
}

.menu-item:hover{
  background-color: #243342;
}

.menu-item:hover span{
  color:white;
}

.menu-item:hover .fa{
  color:#FF6B6B;
}

.menu-item.activate{
  background-color: #243342;
}

.menu-item.activate span{
  color:white;
}

.menu-item.activate .fa{
  color:#FF6B6B;
}

/* Swipe.html */
#viewport .stack {
    max-width: 400px;
    height: 300px;
    position: absolute;
    border-radius: 10px; 
}
  
#viewport li {
    width: 450px;
    height: 450px;
    top:35px;
    list-style: none;
    border-radius: 5px;
    border: 5px solid white;
    display: inline-block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: -webkit-grab;
    box-shadow: 0 0 1px
}

#viewport li .stampLike{
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 100px;
  color:#A1C820;
}

#viewport li .stampPass{
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: 100px;
  color:#F02311;
}

#viewport li.in-deck:nth-last-child(1){
  width: 470px;
  height: 470px;
  top: 15px;
  margin-left:-10px;
}
    
#viewport li.in-deck:nth-last-child(2) {
  width: 465px;
  height: 465px;
  top: 25px;
  margin-left:-7px;
}

#viewport li.in-deck:nth-last-child(3) {
  width: 460px;
  height: 460px;
  top: 35px;
  margin-left:-5px;
}

#autocompleteLocation {
    margin-bottom: 20px;
}



.profile{
  position: relative;
  top: 30px;
  left:535px;
  height: 493px;
  max-width: 450px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #DEE1E2;
}

.profile h1{
  margin:0;
  padding:10px;
  font-weight: 300;
  color:#697677;
  font-size: 18pt;
  padding-left: 10px;
  border-bottom: 1px solid #DEE1E2;
}

.profile h3{
  margin:0;
  padding:10px;
  font-weight: 300;
  color:#697677;
  font-size: 12pt;
  padding-left: 10px;
  border-bottom: 1px solid #DEE1E2;
}

.profile h1 a{
  text-decoration: none;
  color:#A5B4B5;
}

.profile p {
  font-size: 11pt;
  margin:5px;
  padding-left: 10px;
  font-weight: 300;
  color:#586364;
}

.profile pre {
  font-family: 'Montserrat';
  font-size: 11pt;
  margin:5px;
  padding-left: 10px;
  font-weight: 300;
  white-space: pre-wrap;
  color:#586364;
}

.profile p i{
  padding-right: 5px;
}

.profile .small-photos{
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.profile .small-photos div{
  width: 2000px;
}

.profile .small-photos div img{
  height: 100px;
  width: 100px;
  border: 1px solid #DEE1E2;
  border-radius: 3px;
  margin:10px;
  float:left;
  cursor: pointer;
}

/*Message*/
#match-list{
  float:left;
  border-right: 1px solid #DEE1E2;
}
#match-list .scrollable-matchlist{
  overflow-y: scroll;
  width: 300px;
  height: 668px;
  float:left;
}

#match-list .scrollable-matchlist .image-wrapper{
  width: 42px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

#match-list .scrollable-matchlist img{
  width: 40px;
  border-radius: 30px;
  position: relative;
  top:10px;
  margin-right: 10px;
  float:left;
}

#match-list .scrollable-matchlist .match{
  height: 63px;
  margin-right: 20px;
  margin-left: 20px;
  border-bottom: 1px solid #DEE1E2;
  cursor: pointer!important;
}

#match-list .scrollable-matchlist .match:hover {
  color:white!important;
  margin:0;
  height: 64px;
  position: relative;
  border: 0;
  top:-1px;
  border:none;
  background-color: #FF6B6B;
}

#match-list .scrollable-matchlist .match:hover .image-wrapper{
  color:white!important;
  margin-left:20px;
  background-color: #FF6B6B;
}

#match-list .scrollable-matchlist .match:hover div{
  color:white!important;
}

#match-list .scrollable-matchlist .match:hover i{
  color:white!important;
}

#match-list .scrollable-matchlist .match:hover img{
  top:11px;
  color:white!important;
}

#match-list .scrollable-matchlist .match.active  {
  color:white!important;
  margin:0;
  background-color: #FF6B6B;
}

#match-list .scrollable-matchlist .match.active .image-wrapper{
  color:white!important;
  margin-left:20px;
  background-color: #FF6B6B;
}

#match-list .scrollable-matchlist .match.active  div{
  color:white!important;
}

#match-list .scrollable-matchlist .match.active  i{
  color:white!important;
}

#match-list .scrollable-matchlist .info-container{
  position: relative;
  height: 10px;
  top:15px;
  float: left;
  cursor: pointer!important;
}

#match-list .scrollable-matchlist .info-container .name{
  position: relative;
  top:-5px;
  font-size: 15px;
  margin-bottom: 10px;
  color:#2C3E50;
  cursor: pointer!important;
}

#match-list .scrollable-matchlist .info-container .name .pink{
  color:#FF6B6B;
}

#match-list .scrollable-matchlist .info-container .info{
  position: relative;
  top:-12px;
  font-weight: 200;
  font-size: 13px;
  margin-bottom: 10px;
  color:#2C3E50;
}

#match-list .scrollable-matchlist .info-container .info i{
  color:#FF6B6B;
}

#conversation {
  vertical-align: bottom;
  float:left;
  width: 698px;
  height:200px;
}

#conversation .messages-textarea{
  margin-left: 35px;
  margin-top: 10px;
}

#conversation .messages-textarea input{
  vertical-align: bottom;
  border-radius: 3px;
  border: 1px solid #BFC5C7;
  height: 30px;
  width: 608px;
  font-weight: 200;
  padding-left:5px;
  resize: none;
}

.messages-list-container {
  padding-top: 10px;
  height: 520px;
  overflow-y:scroll;
  width: 700px;
}

.messages-list {
  width: 700px;
  height: 540px;
  display: table-cell;
  vertical-align: bottom;
}

.clear{
  clear:both;
}

.from-me{
  display: table-cell; 
  margin-top: 5px;
  float: right;
}


.from-them{
  display: table-cell; 
  margin-top: 5px;
  float: left;  
}

.from-me .message-date{
  font-size: 8pt;
  float: right;
  margin-right: 20px;
  color:#ACB1B3;
}

.from-me .message-text{
  font-weight: 200;
  background-color: #49A9B7;
  width: 300px;
  color:white;
  padding: 8px;
  margin-right: 15px;
  border-radius: 3px;
  bottom:0;
}

.from-them .message-text {
  font-weight: 200;
  background-color: #E5E5EA;
  max-width: 300px;
  padding: 8px;
  margin-left: 15px;
  border-radius: 3px;
  bottom:0;
}

.from-them .message-date{
  font-size: 8pt;
  float:left;
  margin-left: 15px;
  color:#ACB1B3;
}

.message-header{
  height: 60px;
  z-index: 20;
  width:698px;
  background-color: white;
  border-bottom: 1px solid #EBEBEB;
}

button{
  border: none;
  border-radius: 3px;
  background-color: #FF6B6B;
  color:white;
  font-weight: 200;
  padding:5px 10px;
}

.chat-with{
  margin:15px;
  float: left;
}

.match-options{
  float: right;
  margin:15px;
}

/*Settings*/
.settings{
  margin-left: 20px;
}

fieldset:first-child {
  margin-top: 40px;
}

fieldset {
  border: 1px solid #DEE1E2;
  border-radius: 3px;
  position: relative;
  width: 300px;
  padding: 5px;
  margin-bottom: 20px;
}

legend {
  position: absolute;
  top: -40px; left: 0;
  padding-top: 12px;
  font-weight: 300;
}

.switch-wrapper{
  height: 20px;
  margin:3px;
}

.text-switch{
  font-size: 11pt;
  font-weight: 200;
  float:left;
}
.check-switch {
  float: right;
}
.check-switch input {
  position: absolute;
  left: -9999px;
}
.check-switch input + label {
  width: 40px;
  height: 19px;
  background: #f5f5f5;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 3;
}

.check-switch input + label span {
  position: absolute;
  height: 15px;
  top: 2px;
  left: 3px;
  border-radius: 42px;
  width: 15px;
  background: #dedede;
  transition: all 0.3s;
  transform: translate3d(0,0,0);
}

.check-switch input:checked + label span {
  background: white;
  left: calc(100% - 18px);
}
.check-switch input:checked + label{
  background: #FF6B6B;
}

/*Radio button*/
.option-input {
  -webkit-appearance: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 150px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: grey;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  color:white;
  background: #FF6B6B;
}
.option-input::before {
  height: 20px;
  width: 18px;
  position: absolute;
  content: attr(content);
  display: inline-block;
  padding: 5px;
  font-size: 11pt;
  font-weight: 200;
  line-height: 20px;
}
.option-input:checked::after {

  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
fieldset > .option-input.radio:nth-child(2) {
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

fieldset > .option-input.radio:nth-child(3) {
  float: left;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


fieldset .option-input.radio::after {  
  border-radius: 3px;
}

/* Discovery */

.passportReset{
  float:right;
}

.passportReset button{
  min-width: 20px!important;
}

.passportComplete{
  float: left;
  height: 30px;
}

.passportComplete input{
  border:none;
  font-weight: 200;
  border: 1px solid #DEE1E2;
  padding: 4px;
  height: 20px;
  border-radius: 3px;
}

section.range-slider {
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 20px;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 250px;
    outline: none;
    height: 18px;
}

ul.from-to {
    display: block;
    list-style-type: none;
    margin-top: 10px;
    font-family: Arial, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

ul.from-to li {
    margin-bottom: 1px;
}

ul.from-to li label {
    background-color: rgba(0, 0, 0, .1);
    height: 24px;
    line-height: 24px;
    display: inline-block;
    width: 60px;
    padding: 0 10px;
    float: left;
    font-size: 9px;
    color: rgba(0, 0, 0, .25);
    text-transform: uppercase;
}

ul.from-to li input {
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    outline: none;
}

input[type=range]{
  height: 20px;
  width: 250px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #FF6B6B;
  outline: none;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  position: relative;
  top:-6px;
  border-radius: 50%;
  background-color: #FF6B6B;
  height: 16px;
  width: 16px;
  z-index: 1;
  outline: 0;
}

.range{
  padding: 0;
  margin-top:5px;
  margin-left:20px;
}
