/* font*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Montserrat-Hairline.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Montserrat-UltraLight.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat-ExtraBold.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Montserrat-Black.otf');
}

body,html{
  width: 1200px;
  height: 768px;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

body:first-child {
  width: 1200px;
  height: 768px; 
  overflow: hidden;
}

.wrapper-menu{
  width: 200px;
  height: 768px;
  float:left;
  background-color: #34495E;
}

.wrapper-page{
  width: 1000px;
  height: 768px;
  float:left;
  background-color: black;
}

/* Menu.html */
.menu{
  height: 100%;
  width: 100%;
}

.menu-logo{
  height: 100px;
  background-color: #FF6B6B;
}

.menu-item{
  
}

