<div class="wrapper">
  <div class="wrapper-menu" ng-include src="'partials/menu.html'"></div>
  <div class="wrapper-page">
    <div id="title">
      <h1>Discovery</h1>
    </div>
    <div class="settings">
    <form name="discoverySettings">
      <fieldset>
        <div class="switch-wrapper">
          <div class="text-switch" translate="DISCOVERY.DISCOVERABLE"></div>
          <div class="check-switch">
            <input type="checkbox" name="discoverable" id="discoverable_1" ng-model="Discovery.discoverable"/>
            <label for="discoverable_1"><span><em></em></span></label>
          </div>
        </div>
      </fieldset>
        <br/>
      <fieldset ng-show="Discovery.tinder_plus">
        <legend translate="DISCOVERY.PASSPORT"></legend>
        <div class="passportComplete">
          <div ng-if="Discovery.is_traveling">
            <input type="text" ng-autocomplete ng-model="autocomplete" 
            options="autocompleteOptions" details="details" 
            placeholder="{{Discovery.currentLocation}}" 
            id="autocompleteLocation" />
          </div>
          <div ng-if="!Discovery.is_traveling">
            <input type="text" ng-autocomplete ng-model="autocomplete" 
            options="autocompleteOptions" details="details" 
            placeholder="Current Location" 
            id="autocompleteLocation" />
          </div>
        </div>
        <div class="passportReset">
          <a ng-show="Discovery.is_traveling" href="" ng-click="resetPassport()"><button>Reset</button></a>
        </div>
      </fieldset>
        <br/>
      <fieldset>
        <legend translate="DISCOVERY.SHOW_ME"></legend>
        <div class="switch-wrapper">
          <div class="text-switch" translate="DISCOVERY.FEMALE"></div>
          <div class="check-switch">
            <input type="checkbox" name="chooseGender" id="chooseGender_1" ng-model="Discovery.gender_filter.female"/>
            <label for="chooseGender_1"><span><em></em></span></label>
          </div>
        </div>
        <div class="switch-wrapper">
          <div class="text-switch" translate="DISCOVERY.MALE"></div>
          <div class="check-switch">
            <input type="checkbox" name="chooseGender2" id="chooseGender_2" ng-model="Discovery.gender_filter.male"/>
            <label for="chooseGender_2"><span><em></em></span></label>
          </div>
        </div>
      </fieldset>
        <br/>
      <fieldset>
        <legend translate="DISCOVERY.SEARCH_PROXIMITY" translate-values="{ distance: (Discovery.distance_filter | distanceToUnits) }"> </legend>
          <div class="range">
            <style>
              input[name=distance]::-webkit-slider-runnable-track {background: linear-gradient(to right, #FF6B6B  0%, #FF6B6B {{Discovery.distance_filter}}%, #DEDEDE {{Discovery.distance_filter}}%, #DEDEDE 100%);
            </style>
            <input type="range" name="distance" min="2" max="100" ng-model="Discovery.distance_filter" />
          </div> 
      </fieldset>
        <br/>
      <fieldset>
        <legend translate="DISCOVERY.DISPLAY_AGES" 
                translate-values="{ from_age: Discovery.age_filter.from, 
                                    to_age: Discovery.age_filter.to}">
        </legend>
        <div class="range">
          <section data-range-slider class="range-slider" ng-model="Discovery.age_filter" data-colors="colors" min="18" max="55"></section>
        </div>
      </fieldset>
    </form>
    </div>
  </div>
</div>
