<div class="wrapper">
  <div class="wrapper-menu" ng-include src="'partials/menu.html'"></div>
  <div class="wrapper-page">
    <div id="title">
      <h1>Settings</h1>
    </div>
    <div class="settings">
  <form name="tppSettings">
    <fieldset>
      <legend>Message</legend>
      <div class="switch-wrapper">
        <div class="text-switch">
          Show details
        </div>
        <div class="check-switch">
          <input type="checkbox" name="extraInfo" id="extraInfo_2" value="no" ng-model="settings.messageListExtraInfo" ng-change="syncSettings()"/>
          <label for="extraInfo_2"><span><em></em></span></label>
        </div>
      </div>
    </fieldset>

    <br/>

    <fieldset>
      <legend translate="SETTINGS.DISTANCE_UNITS"></legend>
      <input type="radio" content="{{'SETTINGS.MILES' | translate}}" class="option-input radio" name="distanceUnits" id="distanceUnits_1" value="mi" ng-model="settings.distanceUnits" ng-change="syncSettings()"/>
      <input type="radio" content="{{'SETTINGS.KILOMETRES' | translate}}" class="option-input radio" name="distanceUnits" id="distanceUnits_2" value="km" ng-model="settings.distanceUnits" ng-change="syncSettings()"/>
    </fieldset>

    <br/>
    
    <fieldset>
      <legend translate="SETTINGS.LANDING_PAGE"></legend>
      <input class="option-input radio" content="{{'SETTINGS.SWIPE' | translate}}" type="radio" name="landingPage" id="landingPage_1" value="/swipe" ng-model="settings.landingPage" ng-change="syncSettings()"/>  
      <input class="option-input radio" content="{{'SETTINGS.MESSAGES' | translate}}" type="radio" name="landingPage" id="landingPage_2" value="/messages" ng-model="settings.landingPage" ng-change="syncSettings()"/>  
    </fieldset>
    
    <br/>
      <a href="" ng-click="logout()">
        <button translate="SETTINGS.LOGOUT"></button>
      </a>
  </form>
    </div>
  </div>
</div>
