<div class="menu" ng-controller="MenuController">
  <div class="menu-logo">
    <a href="">
      </a>
  </div>
  <a href="#/swipe">
    <div class="menu-item">
      <span class="fa fa-heart fa-lg"></span><span class="text">Swipe</span>
    </div>
  </a>
  <a ng-href="#/messages">
    <div class="menu-item">
      <span class="fa fa-envelope fa-lg"></span><span class="text">Messages</span>
    </div>
  </a>
  <a ng-href="#/profile/{{getCookie('userId')}}">
    <div class="menu-item">
      <span class="fa fa-picture-o fa-lg"></span><span class="text">Profile</span>
    </div>
  </a>
  <a href="#/discovery">
    <div class="menu-item">
      <span class="fa fa-binoculars fa-lg"></span><span class="text">Discovery</span>
    </div>
  </a>
  <a href="#/settings">
    <div class="menu-item activate">
    <span class="fa fa-cog fa-lg"></span><span class="text">Settings</span>
    </div>
  </a>
</div>
